<!DOCTYPE html>
<html ng-app="blog">
  <head>
    <meta charset="utf-8"/>
    <title>Blog name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=PT+Mono&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  </head>
  <body ng-controller="MainController as main">
    <header class="header">
      <h2 class="header__text">
        <a href="/" class="header__link">[ Blog name ]</a>
      </h2>
    </header> <!-- end header -->
    <div class="page">
      <aside class="page__aside">
  
        <div class="posts">
          <ul class="posts__years posts__years_reverse" reverse>
            <li class="posts__years-item" ng-repeat="(key, value) in main.postsList" ng-if="main.months = main.postsList[key]">
              <span class="posts__years-text" list>{{key}}</span>
              <ul class="posts__months posts__months_reverse" reverse>
                <li class="posts__months-item" ng-repeat="(key, value) in main.months" ng-if="main.posts = main.months[key]">
                  <span class="posts__months-text" list>{{key | month}}</span>
                  <ul class="posts__list posts__list_reverse" reverse>
                    <li class="posts__list-item" ng-repeat="post in main.posts">
                      <a class="posts__link" ui-sref-active="posts__link_active" href="#/{{post.path}}" ui-sref="post({ postPath: post.path })" >{{post.header}}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>

      </aside> <!-- end page__aside -->
      <section class="page__main">
        <article class="article" ui-view>
        </article>
      </section> <!-- end page__main -->
    </div> <!-- end page -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-ui-router/build/angular-ui-router.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controllers/main.controller.js"></script>
    <script src="assets/js/services/posts.service.js"></script>
    <script src="assets/js/filters/month.filter.js"></script>
    <script src="assets/js/directives/list.directive.js"></script>
  </body>
</html>