@font-face {
  font-family: "PTMono";
  src: url("../fonts/ptmono/PTMonoRegular.eot");
  src: url("../fonts/ptmono/PTMonoRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ptmono/PTMonoRegular.woff") format("woff"),
  url("../fonts/ptmono/PTMonoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  font-family: 'PT Mono', Georgia, serif;
}

.header {
  background: #f5f5f5;
}
